body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
    margin-top: 10px;
}
/* ####### MAIN */
#main {
    margin: 0px auto;
    height: 100%;
    font-size: 13px;
}
/* ####### SEARCH, SHARING */
#controls {
    height: 30px;
    right: 10px;
    top: 10px;
    left: 10px;
    margin: 0px;
    width: auto;
    position: absolute;
}
#drpdownSearchMenu { }
#txtSearch {
    width: auto;
    float: left;
    left: 155px;
    right: 285px;
    position: absolute;
    margin-right: 5px;
}
#txtSearch.loading {
    background: url(miniloader.gif) no-repeat center right;
    background-origin: content-box;
}
#btngrpSearch {
    position: absolute;
    right: 170px;
}
#smallogo {
    float: left;
    margin-right: 10px;
}
#btnGenerate {
    float: right;
    position: relative;
    margin-top: 2px;
}
#playlistcode {
    float: left;
    position: relative;
    width: 155px;
    text-align: center;
    cursor: text;
    margin-left: 5px;
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 2px;
    font-weight: bold;
    margin-bottom: 0;
    color: #222;
}
#sharingoptions div { float: left }
#intro {
    top: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
}
#intro h1 {
    font-weight: 700;
    font-size: 32px;
}

#settings {
    position: absolute;
    right: 10px;
    display: none;
    color: white;
    text-align: right;
}
/* ####### BLOCKS */
#player {
    /* "Click to play" text */
    text-align: center;
    line-height: 250px;
    color: #DDD;
    font-weight: bolder;
    font-size: 24px;
    position: absolute;
    top: 50px;
    left: 10px;
    height: 220px;
    width: 390px;
    margin-bottom: 5px;
}
#playlistcontrols {
    position: absolute;
    top: 290px;
    left: 10px;
    height: 30px;
    width: 390px;
    margin: 0 auto;
}
#pauseplay {
    padding-left:  22px;
    padding-right: 22px;
}
#playlist {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    width: 390px;
    position: absolute;
    top: 330px;
    left: 10px;
    bottom: 50px;
    margin: 0;
}
#playlistcontent {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#playlistcontent li { height: 18px }
#playlistcontent li a { color: #000 }
#playlistcontent li.active a {
    color: #FFF;
    text-overflow: ellipsis;
}
#playlistcontent li a {
    overflow: hidden;
    white-space: nowrap;
    float: left;
    width: 325px;
    height: 25px;
    text-overflow: ellipsis;
    font-size: 13px;
    padding: 4px;
}
.playlistremove {
    float: right;
    margin-top: 3px;
}
#share {
    position: absolute;
    bottom: 10px;
    width: 390px;
    left: 10px;
}
#sharethisbuttons { height: 30px }
#recent {
    position: relative;
    margin: 0 auto;
    top: 320px;
    width: 250px;
    text-align: center;
}
#recent h3 {
    text-align: center;
    margin-bottom: 5px;
}
a.recent {
    line-height: 25px;
    font-size: 14px;
}
#facebook { margin-top: 60px }
/* ####### GRID */
#grid {
    font-size: 13px;
    overflow-y: auto;
    position: absolute;
    top: 50px;
    left: 415px;
    bottom: 10px;
    right: 10px;
}
#grid .video {
    margin: 0 10px 10px 0;
    width: 166px;
    height: 120px;
    float: left;
    position: relative;
    cursor: pointer;
    background-size: 166px 120px;
    box-shadow: 2px 4px 7px #CCC;
}
body.isDark #grid .video {
	box-shadow: 2px 4px 7px #222;
}
.videolist {
    width: 300px!important;
    height: 200px!important;
    background-size: 300px 200px!important;
}
.hd {
    background: #FF0000;
    position: absolute;
    bottom: 15px;
    right: 5px;
    font-size: 9px;
    color: white;
    height: 9px;
    line-height: 9px;
    padding: 2px;
    border-radius: 2px;
    opacity: 0.7;
}
.videolist .hd { bottom: 15px }
.videolist .title {
    width: 294px;
    top: 10px;
    padding-top: 4px;
	font-size: 16px!important;
	line-height:20px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px!important;
    letter-spacing: 90%;
}
.videoinfo {
    position: absolute;
    right: 5px;
    font-size: 10px;
    display: block!important;
    text-align: right;
    line-height: 10px;
    bottom: 3px;
    color: #AAA;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,1);
}
#gridoptions {
    position: absolute;
    right: 5%;
    top: 325px;
    padding-left: 20px;
}
.title {
    position: relative;
    top: 5px;
    font-weight: bold;
    float: left;
    font-size: 11px;
    padding: 3px;
    line-height: 16px;
    opacity: 0.9;
}
.video a:hover { text-decoration: none }
.loadmore {
    margin-bottom: 7px;
    padding-right: 7px;
    width: 120px;
    float: left;
}
.loadmore img {
    margin-left: 31px;
    margin-top: 15px;
}
.dropdown-menu label { display: inline }
.playoverlay {
    background: url(/playoverlay.svg)  no-repeat center center;
    display: block;
    width: 100%;
    height: 100%;
}
.related a {
    position: absolute;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    bottom: 5px;
    left: 0;
    font-size: 10px;
    opacity: 0.7;
}
.title { width: 96% }
.title,
.related a {
    color: #333;
    border: 1px solid #CCC;
}
.title:hover,
.related a:hover { color: white; background-color: #333; }
.related a { color: #333 }
.title,
.related a,
.videolist {
    background-color: #efefef;
}
/* ####### MISC */
ul.nav { margin: 0 }
.stButton {
    !important: ;
    margin-right: 3px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0 !important;
}
.stButton .chicklets {
    padding-right: 0!important;
    padding-left: 16px !important;
}
#stbtn1 {
	margin-right: 1px;
}